#container-box{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    height: 250px;
    width: 560px;
    gap: 4px;
}
.box{
    border: 2px solid gray;
    width: 140px;
    height: 250px;
    background-color: aqua;
}
.box:hover{
    cursor: pointer;
}
.box:nth-child(1)
{
    background-color: rgb(160, 230, 206);
    display: flex;
    flex-direction: column;
}
.box:nth-child(2)
{
    background-color: rgb(158, 238, 238);
    display: flex;
    flex-direction: row;
}
.box:nth-child(3)
{
    background-color:rgb(240, 166, 191);
    display: flex;
    flex-direction: column;
}
.box:nth-child(4)
{
    background-color:rgb(243, 171, 243);
    display: flex;
    flex-direction: row;
}
.box:nth-child(1)>div,
.box:nth-child(3)>div{
    width: auto;
    height: 50%;
}
.box:nth-child(2)>div,
.box:nth-child(4)>div{
    width: 50%;
    height: 150px;
}
img{
    height:99%;
    width: 100%;
}
.box:nth-child(1)>div,
.box:nth-child(3)>div{
    width: 200%;
    height: 50%;}
.box:nth-child(2)>div,
.box:nth-child(4)>div{
    width: 200%;
    height: 50%;
}